{% set dayname = "aoc{}_day{:0>2}".format(year, day) -%}
from collections.abc import Iterable


def {{dayname}}_part1(lines: Iterable[str]) -> int:
    return -1


def {{dayname}}_part2(lines: Iterable[str]) -> int:
    return -1


parts = ({{dayname}}_part1, {{dayname}}_part2)
{# trailing newline #}