# https://adventofcode.com/{{year}}/day/{{day}}

# import re

# pyright: reportUnusedImport=false
from ...base import (
    IntSolution, IntSplitSolution, StrSplitSolution, TextSolution,
    answer, slow
)


class Solution(TextSolution):
    """
    Solution for Advent of Code {{year}} Day {{day}}.
    """
    _year = {{year}}
    _day = {{day}}

    # @answer(1234)
    def part_1(self) -> int:
        ...

    # @answer(1234)
    def part_2(self) -> int:
        ...

    # # @answer((1234, 5678))
    # def solve(self) -> tuple[int, int]:
    #     ...
