---
type Props = {
  page: string;
  path?: string[];
}

const { page, path } = Astro.props;
---
<nav>
  <code>
    <a href="/">C:</a>
    {
      path?.map((segment, index) => {
        return (
          <span>
            \ <a href={`/${path.slice(0, index + 1).join("/")}`}>{segment}</a>
          </span>
        );
      })
    }<span> \ {page}</span>
  </code>
</nav>

<style>
  nav {
    all: unset;
    display: block;

    text-align: center;
  }

  code {
    display: inline-block;

    padding: 0.5rem 1rem;

    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
  }

  a {
    color: var(--link-color);
  }

  a:hover {
    color: var(--link-hover-color);
  }
</style>